<form>
    <p>Edit Book Details:</p>
    <label for="title">Title: </label>
    <input type="text" id="title-{{ book._id}}" name="title" value="{{ book.title }}" required/>
    <label for="author">Author: </label>
    <input type="text" id="author-{{ book._id}}" name="author" value="{{ book.author }}" required/>
    <label for="isbn">ISBN: </label>
    <input type="text" id="isbn-{{ book._id}}" name="isbn" value="{{ book.isbn }}" required/>
    <label for="category">Category: </label>
    <input type="text" id="category-{{ book._id}}" name="category" value="{{ book.category }}" required/>
    <label for="collection">Collection: </label>
    <input list="collections-list" id="collection-{{ book._id}}" name="collection" required/>
    <datalist id="collections-list">
        {{#each collections}}
            <option value="{{ this.id }}. {{ this.name }}"></option>
        {{/each}}
    </datalist>
    <button type="button" id="edit-submit-{{ book._id}}" value="default">Update Book</button>
    <a href="/" class="button">Cancel</a>
    <p id="add-message-{{ book._id}}" class="hide"></p>
</form>
<script>
    const submitButton = document.querySelector("#edit-submit-{{ book._id}}")
    const title = document.querySelector("#title-{{ book._id}}")
    const author = document.querySelector("#author-{{ book._id}}")
    const isbn = document.querySelector("#isbn-{{ book._id}}")
    const category = document.querySelector("#category-{{ book._id}}")
    const collection = document.querySelector("#collection-{{ book._id}}")

    submitButton.addEventListener("click", async (event) => {
        event.preventDefault()
        await fetch("http://localhost:3000/api/books/{{ book._id }}", {
            method: 'PUT',
            body: JSON.stringify({
                id: "{{ book._id }}",
                title: title.value,
                author: author.value,
                isbn: isbn.value,
                category: category.value,
                collection_id: Number(collection.value[0])
            }),
            headers: {
                "Content-Type": "application/json"
            },
            mode: 'cors'
        }).then((response) => {
            console.log("response: ", response)
            window.location.href = "http://localhost:3000/"
        })
    })
</script>